[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "assignment-1-zlbrown77"]
	path = assignment-1-zlbrown77
	url = https://github.com/cu-ecen-aeld/assignment-1-zlbrown77
